synder

# ctags file used internally by some editors
tags

*.log

README.pdf

*.gch
*.o
*.a
db

doc

vgcore*

big-sample-inputs/*syn
big-sample-inputs/*gff
big-sample-inputs/*tab

# my temp file prefix
z*
x
y
