synder

# ctags file used internally by some editors
tags

*.log

gmon.out

*.un~

README.pdf

*.gch
*.o
*.a
db*

doc

vgcore*

big-sample-inputs/*syn
big-sample-inputs/*gff
big-sample-inputs/*tab

# my temp file prefixes
z*
x
y
g
d
g[0-9]
d[0-9]
